################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/systemio/node_modules
/systemio/package-lock.json
/.vs/systemio/v16
/systemio/systemio.njsproj.user
/.vs/systemio/config
/systemio/bin
/systemio/obj/Debug
/systemio/test
